// Colors

$clr0: #101010;
$clr1: #008071;
$clr2: #004f46;
$clr3: #383637;
$clr4: #1e2d41;
$clr5: #cbe6e4;
$clr6: #ffffff;
$clr7: #f6f1f1;


$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;