.display-img{
    width: 100px;
    height: 100px;
}

.dashboard{
    >*{
        margin-right: 20px;
    }
}

.ShowRecords{
    >div{
        display: grid;
        grid-template-columns: 95px 50px 36px 44px;
        >h1{
            margin-right: 30px;
            margin-bottom: 15px;
        }
        >:nth-child(3){
            text-align: start;
        }
    }
}

.connect-ok{
    background-color: #008000ad;
    width: 320px;
    height: 30px;
    padding: 5px;
}
.connect-disable{
    background-color: red;
    width: 320px;
    height: 30px;
    padding: 5px;
}

.site-info{
    display: grid;
    grid-template-columns: 100px 100px;
    border: 1px solid gainsboro;
    >*{
        text-align: initial !important;
    }
}
